<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.anderson.odysseus.moneytracker" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
   	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<!-- <activity android:name=".MoneyTrackerEntry" >  -->
		<activity android:name=".acct.AccountList" android:label="@string/account_list_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".prof.AddProfile" android:label="@string/add_profile_title" />
		<activity android:name=".prof.EnterProfile" android:label="@string/enter_profile_title" />
		<activity android:name=".prof.SelectProfile" android:label="@string/select_profile_title" />
		<activity android:name=".prof.VerifyProfile" android:label="@string/verify_profile_title" />
		<activity android:name=".prof.RealmLogin" android:label="@string/realm_login_title" />
		<activity android:name=".prof.Login" android:label="@string/login_title" />
		<activity android:name=".prof.SelectAccount" android:label="@string/select_acct_title" />
	</application>
</manifest> 